@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   .app-flex-row {
      @apply flex items-center justify-center;
   }

   .app-flex-col {
      @apply flex items-center justify-center flex-col;
   }
   .gray-text {
      @apply text-gray-500;
   }
}

:root {
   --black-color: #030303;
   --app-bg-color: #edf2f8;
   --lightGray-color: #e4e4e4;
   --gray-color: #6b7688;
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   scroll-behavior: smooth;
}

body {
   @apply overflow-x-hidden;
}

.app__container {
   @apply min-h-[100vh];
}

.section__container {
   @apply min-h-[80vh];
}

.app__wrapper {
   flex: 1;
   flex-direction: column;
   padding: 4rem 2rem;

   @media screen and (max-width: 450px) {
      padding: 4rem 1rem 2rem;
   }
}

.head-text {
   font-size: 2.2rem;
   font-weight: 700;
   text-align: center;
   // color: var(--black-color);
   text-transform: capitalize;
}

.bold-text {
   font-size: 1rem;
   font-weight: 800;
   color: var(--black-color);
   text-align: left;

   @media screen and (min-width: 2000px) {
      font-size: 2rem;
   }

   @media screen and (max-width: 450px) {
      font-size: 0.9rem;
   }
}

.p-text {
   font-size: 0.8rem;
   text-align: left;
   color: var(--gray-color);
   line-height: 1.5;

   @media screen and (min-width: 2000px) {
      font-size: 1.75rem;
   }
}
